/.cargo/
/.rustup/
/target
**/target
**/*.rs.bk
.DS_Store

.devcontainer/auth.json
.devcontainer/devcontainer.env
.devcontainer/config.toml
*.png
# Allow example documentation images
!docs/examples/*.png

